//*======= header css start =====*//
header{
    .menu-are{
        .menu-bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
                .overlay {
                    width: 100vw;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    left: 100vw;
                    display: none;
                    animation: fadeEffect 1s; 
                    background: rgba(146, 75, 27, 0.2);
                    transition: all 0.3s ease-in-out;
                    z-index: 3;
                    &.active {
                        left: 0;
                        display: block;
                        @include breakpoint (lg) {
                            display: none;
                        }
                    }
                }
            .menu-list{

                display: flex;
                justify-content: space-between;
                nav{
                   display: inline-flex;
                   justify-content: space-around;
                   align-items: center;
                  
                  .mobile-bar{
                      padding: 20px 10px;
                      cursor: pointer;
                  }
                  
                  .search-icon{
                      overflow: hidden;
                      .search-image{
                          display: block;
                          cursor: pointer;
                          padding: 20px 5px;
                      }
                      form{
                          .search-area{
                            transform: scale(0);
                            transition: all 0.3s ease-in-out;
                            position: absolute;                        
                            width: 100%;
                            height: 100vh;                            
                            left: 0;
                            z-index: 9;
                            top: 0;
                            .search-overlay{
                                position: absolute;
                                background-image: linear-gradient(to right, #f5454e3a, #fda45049,);
                                height: 100vh;
                                width: 100%;
                                z-index: 10;
                            }
                            .cross-overlay{
                                position: absolute;
                                z-index: 12;
                                color: #F5454F;
                                top: 20px;
                                right: 20px;
                                cursor: pointer;
                            }
                            .search-box{                                
                                position: absolute;
                                top: 47%;
                                left: 15%;
                                z-index: 11;
                                @include breakpoint (max-mobile){
                                    left: 15%;
                                }
                                @include breakpoint (sm){
                                    left: 25%;
                                }
                                @include breakpoint (md){      
                                    left: 35%;
                                }
                                @include breakpoint (lg){
                                    left: 40%;
                                } 
                                @include breakpoint (xl){
                                    left: 45%;
                                }
                                .search-form{
                                    padding: 10px 15px;
                                    border-bottom: 2px solid #d7d7d7;
                                    background-color: transparent;
                                    text-decoration: none;
                                    width: 250px;
                                    @include breakpoint (max-mobile){
                                        width: 200px;
                                    }
                                   &:focus{
                                       transition: all 0.1s ease-in-out;
                                        border-bottom: 2px solid #FDA350;
                                   }
                                }
                                .search-btn{
                                    padding: 10px 15px;
                                    background-color: #F5454F;
                                    color: white;
                                    transition: all 0.3s ease-in-out;
                                    &:hover{
                                        background-color: #FDA350;
                                    }                               
                                }
                            }
                          }
                          .search-area.open{
                              transform: scale(1);
                          }
                      }
                    }
                  ul.close{
                      left: 0;
                      z-index: 99;
                    @include breakpoint(lg){
                      transform-origin: right;
                      transform: scaleX(0);
                    }
                  }
                    ul{
                        transition: all 0.3s ease-in-out;
                        padding: 0;
                        margin: 0;
                        display: inline-block;
                        left: -300px;
                        top: 0;
                        width: 300px;
                        height: 100vh;
                        z-index: 15;
                        background-image: linear-gradient(to right, #F5454F , #FDA350);
                        text-align: center;
                        position: absolute;
                        li{
                            height: 50px;
                            line-height: 50px;
                            list-style: none;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        @include breakpoint (max-mobile){
                            transition: all 0.3s ease-in-out;
                            padding: 0;
                            margin: 0;
                            display: inline-block;
                            left: -270px;
                            top: 0;
                            width: 270px;
                            height: 100vh;
                            z-index: 5;
                            background-image: linear-gradient(to right, #F5454F , #FDA350);
                            text-align: center;
                            position: absolute;
                            li{
                                height: 50px;
                                line-height: 50px;
                                list-style: none;
                            }
                            a{
                                text-decoration: none;
                                color: white;
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
                        @include breakpoint(lg){
                            transform: scaleX(1);
                            background-image: none;
                            width: 100%;
                            transform-origin: right;
                            left: 0;
                            height: auto;
                            position: relative;
                            display: inline-flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            align-items: center;
                            
                            li{
                                list-style: none;
                                padding: 20px 10px;
                                top: 0;
                                height: 0px;
                                line-height: 0px;
                                a{
                                    text-decoration: none;
                                    font-size: 16px;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    color: black;
                                    transition: all 0.3s ease-in-out;
                                    &:hover{
                                        color: #F5454F;
                                        
                                    }
                                }
                            }                                   
                        }                       
                    }
                    .social-icon{
                        display: none;
                        @include breakpoint (lg){
                            display: flex;
                            a{
                                padding: 20px 5px;
                            }
                        }
                    }
                                        
                }              
            }
        }        
    }
}
//*======= header css ends  =====*//