//*===== feature css start ===*//
// ** professional-area start ** //
.professional-area{
    margin: 100px 0;
    .card-are{
        box-shadow: 0px 0px 19px 8px rgba(100, 100, 100, 0.1);
        .professional-image{
            background-color: $background-color;
            max-height: 450px;
            overflow: hidden;
            img{
                max-height: 580px;
                width: 55%;
                @include breakpoint (lg){
                    padding: 15px 0;
                }
            }
        }
        .professional-conatent{
            padding: 20px 0;
            .professional-text{
                color: $text-color;
            }
            table{
                tr{
                    th{
                      width: 100px;
                      display: inline-flex;
                      justify-content: space-between;
                      padding: 5px;
                      margin: 0;
                        @include breakpoint (sm){                         
                        width: 150px;
                        display: inline-flex;
                        justify-content: space-between;
                        padding: 5px;
                        margin: 0;
                        }
                    }
                    td{
                        display: inline-flex;
                        padding: 5px;
                        margin: 0;
                        color: $text-color;
                    }
                }
            }
            .cv-btn{
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 10px 28px;
                    background-color: transparent;
                    border: 2px solid #F5454F;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        background-color: #FDAA52;
                        color: white;
                        border: 2px solid #FDAA52; 
                    }
                }
            }
        }
    }
  
    
}
// ** professional-area end **//

// ** service area start **//
.service-area{  
  min-height: 500px;
  background-image: url('/assets/img/searvice/01.svg');
  background-size: cover;
  background-image: cover;
  background-color: $background-color;
  background-repeat: no-repeat;
  background-position: bottom;
    @include breakpoint (md){

      height: 500px;
      background-image: url('/assets/img/searvice/01.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-color: $background-color;
    }
    .service-card{
        padding: 100px 0;
        .service-content{
            h2{
                font-size: 36px;
                font-weight: bold;
            }
            P{
              color: $text-color;
            }
          .service-container{
              .slider-button{
                  position: relative;
                  display: flex;
                  .swiper-button-befor,.swiper-button-after{
                      color: #F5454F;
                      padding: 0 20px 0 0;
                      font-size: 25px;
                  }
                  .swiper-button-disabled{
                      color: #d7d7d7;
                  }
              }
          }  
        }
        .service-slider{
            .service-container {
                width: 100%;
                height: 100%;
                overflow: hidden;
                        
              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                .slider-item{
                    height: 300px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: #F54C54;
                    }
                    .slider-content{
                        display: inline-block;
                        img{
                            display: block;
                            background-color: #EFF4F8;
                            padding: 20px;
                            border-radius: 50%;
                            margin: 0px auto;
                            z-index: 2;
                        }
                        h5{
                            padding: 20px 0;
                            text-transform: uppercase;
                        }
                    }
                    
                }
              }
            }
        }
          
    }
}
// ** service area end **//

// ** portfolio-area start ** //
.portfolio-area{
    .section-header{
        padding: 70px 0;
        h2{
            margin: 0;
            font-weight: bold;
        }
        p{
            color: $text-color;
        }
    }
    .filter-area{
      
  .filter-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px;
    margin-bottom: 30px;
    ul{
      padding: 0 !important;
      margin: 0;
    }
    li.active{
      background-color: $theme-color;
      .category{
        color: white;
      }
    }
    li{
      background: #fff;
      border-radius: 3px;
      border: 1px solid rgb(112, 112, 112);
      padding: 5px 20px;
      font-size: 14px;
      font-weight: 700;
      color: #0e2c53;
      text-transform: uppercase;
      margin: 5px;
      cursor: pointer;
      display: flex;
      .category {
        line-height: 38px;
      }
      &:hover{
        background-color: $theme-color;
        transition: all 0.3s ease-in-out;
        .category{
          color: white;
        }
      }
     
      .active{
        background-color: $theme-color;
      }
      .category {
        color: black;
        text-transform: uppercase;        
      }
    }
  }

  
/*Gallery Masonary 1 Starts Here*/
.masonary-wrapper {
  margin: 0;
}

.masonary-item {
  width: 100%;
  padding: 0px 0;
  height: auto;
  img{
    width: 100%;
    padding: 10px;
  }
}
.masonary-item .masonary-thumb {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(79, 63, 82, 0.06);
  background: #fff;
  padding: 8px;
}
.masonary-item .masonary-thumb:hover::before {
  opacity: 1;
}
.masonary-item .masonary-thumb:hover a {
  opacity: 1;
}
@media (min-width: 576px) {
  .masonary-item {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .three-items .masonary-item {
    width: calc(100% / 3);
  }
}

.lg-three-items .masonary-item {
  width: 100%;
}
@media (min-width: 768px) {
  .lg-three-items .masonary-item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .lg-three-items .masonary-item {
    width: calc(100% / 3);
  }
}

}
}

// ** portfolio-area end ** //

// ** work-area start ** //

.work-area{
  min-height: 450px;
  margin: 100px 0 0 0;
  background-color: $background-color;
  @include breakpoint (md){
    margin: 100px 0 0 0;
    background-color: $background-color;
    height: 450px;
    width: 100%;
    overflow: hidden;
  }
  .lets-work{
      padding: 100px 0;
    .content-area{
      h2{
        font-size: 36px;
        font-weight: bold;
      }
      p{
        padding: 20px 0;
        color: $text-color;
      }
      .hire-btn{
        text-decoration: none;
        padding: 10px 25px;
        background-color: #F5454F;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        &:hover{
           background-color: #FDAA52;
        }
      }
    }
    .animate-area{
      display: none;
      @include breakpoint (md){
        display: block;
      }
      .animate-box{
        display: none;
        @include breakpoint (md){
          display: block;
          z-index: 0;
          left: 18px;
          margin-top: -50px;
          position: relative;
        }
        .box1{
          height: 350px;
          width: 350px;
          background-color: white;
          box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.1);
          border-radius: 50%;
          position: absolute;
          animation: box1-animate 3s infinite;
          div{
            border-top: 10px solid #FEC8A6;
            border-bottom: 10px solid  #FEC8A6;
            border-left: 10px solid  #FEC8A6 ;
            border-right: 10px solid  #FEC8A6 ;
            width: 0px;
            height: 0px;
            z-index: 3;
            transform: rotate(60deg);
            position: absolute;
            left: 0px;
            top: 100px;
          }
          
          @keyframes box1-animate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
  
        }
        .box2{
          height: 320px;
          width: 320px;
          background-color: white;
          box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.1);
          border-radius: 50%;
          position: absolute;
          left: 15px;
          top: 15px;
          animation: box2-animate 3.5s infinite;
          div{
            border-top: 10px solid transparent;
            border-bottom: 10px solid #FCC3A6;
            border-left: 10px solid transparent ;
            border-right: 10px solid transparent ;
            width: 0px;
            height: 0px;
            z-index: 10;
            transform: rotate(0deg);
            position: absolute;
            right: 0px;
            bottom: 100px;
          }
          
          @keyframes box2-animate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
        .box3{
          height: 280px;
          width: 280px;
          background-color: white;
          box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.1);
          border-radius: 50%;
          position: absolute;
          left: 35px;
          top: 35px;
          animation: box3-animate 4s infinite;
          div{
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: #37DDD1;
            right: 50px;
            border-radius: 50%;
            top: 20px;
          }
          @keyframes box3-animate{
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(-360deg);
            }
            
          }
  
        }
        .box4{
          height: 250px;
          width: 250px;
          background-color: white;
          box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.1);
          border-radius: 50%;
          position: absolute;
          left: 50px;
          top: 50px;
          animation: box4-animate 5s infinite ;
          div{
            border-top: 10px solid #FEC8A6;
            border-bottom: 10px solid transparent;
            border-left: 10px solid transparent ;
            border-right: 10px solid transparent ;
            width: 0px;
            height: 0px;
            transform: rotate(0deg);
            position: absolute;
            right: -8px;
            top: 100px;
          }
          @keyframes box4-animate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(-360deg);
            }
          }
        }
      }
    
     
    }
    .animate-image{
      margin-top: -80px;
      img{
        position: relative;
        height: 550px;
        width: auto;
      }

    }
  }
}
// ** work-area end ** //

// ** testimonial-area start ** //
.testimonial-area{
  .section-header{
    padding: 70px 0;
    h2{
        margin: 0;
        font-weight: bold;
    }
    p{
        color: #B2B1B1;
    }
  }
    .testimonial-slider{
      padding: 0 0 50px 0;
      overflow: hidden;
      position: relative;
      .testimonial-container{
          .swiper-slide{
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            .slider-item{
              padding: 20px;
              .slider-content{
                .header-content{
                  display: inline-flex;
                  align-items: center;
                  .person-content{
                    display: inline-block;
                    h6{
                      font-weight: bold;
                      padding: 0;
                      margin: 0;
                    }
                    p{
                      padding: 0;
                      margin: 0;
                    }
                  .stars-rating {
                    display: inline-block;
                    position: relative;
                    font-family: FontAwesome;
                    padding: 0;
                    margin: 0;
                    .fa-star{
                      font-size: 14px;
                      width: 14px;
                      height: 14px;
                    padding: 0;
                    margin: 0;
                      color: #FDAA52;
                    }
                  }
                  }
                }
                .quote-icon{
                  color: #F0F0F0;
                }
                .testimonial-content{
                  color: $text-color;
                }
              }
              
            }
          }
          .swiper-pagination{
            .swiper-pagination-bullet-active{
              background-color: #F54C54;
              height: 10px;
              width: 10px;
            }
            .swiper-pagination-bullet{
              height: 10px;
              width: 10px;
            }
          }
      }
    }
}
// ** testimonial-area end** //

// ** experience-area start ** //
  .experince-area{
    .section-header{
      padding: 70px 0;
      h2{
          margin: 0;
          font-weight: bold;
      }
      p{
          color: $text-color;
      }
    }
    .massage-item{
      margin-bottom: 25px;
      padding-left: 40px;
      position: relative;
      .massage-box{
        border: 1px solid #FDAA52;
        .header-content{
          padding: 5px 15px;
          h4{
            padding: 0 0;
            margin: 0;
          }
        }
        p{
          padding: 5px 15px;
          color: $text-color;
        }
      }
      .massge-icon{
        position: absolute;
        content: '';
        height: 135%;
        border-left: 1px solid #F5454F;
        left: 0px;
        top: 10px;
        @include breakpoint (max-xl) {
          height: 120%;
        }
        @include breakpoint (max-sm){
          height: 113%;
        }
        &::after{
          position: absolute;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background-image: linear-gradient(to right,  #F5454F , #FDAA52);
          content: "";
          left: -8px;
        }
        &::before{
          
          position: absolute;
          height: 15px;
          width: 15px;
          border-left: 1px solid #FDAA52;
          border-bottom: 1px solid #FDAA52;
          transform: rotate(45deg);
          content: "";
          left: 32px;
          background-color: white;
        }
      }
      
    }
    .massage-item2{
      margin-bottom: 25px;
      padding-left: 40px;
      position: relative;
      .massage-box{
        border: 1px solid #FDAA52;
        .header-content{
          padding: 5px 15px;
          h4{
            padding: 0 0;
            margin: 0;
          }
        }
        p{
          padding: 5px 15px;
          color: $text-color;
        }
      }
      .massge-icon{
        position: absolute;
        content: '';
        height: 0%;
        border-left: 1px solid #F5454F;
        left: 0px;
        top: 10px;
        &::after{
          position: absolute;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background-image: linear-gradient(to right,  #F5454F , #FDAA52);
          content: "";
          left: -8px;
        }
        &::before{
          
          position: absolute;
          height: 15px;
          width: 15px;
          border-left: 1px solid #FDAA52;
          border-bottom: 1px solid #FDAA52;
          transform: rotate(45deg);
          content: "";
          left: 31.5px;
          background-color: white;
        }
      }
      
    }
  }
// ** experience-area start ** //
// ** working-process-area start ** //
  .working-process{
    margin: 100px 0 0 0;
    padding: 0px 0 100px 0;
    background-color: $background-color;
    .section-header{
      padding: 70px 0;
      h2{
          margin: 0;
          font-weight: bold;
      }
      p{
          color: $text-color;
      }
    }
    .brefing-icon-area{
      display: none;
      @include breakpoint(xl){
        display: block;
        width: 75%;
        margin: 0 auto;  
      }    
    }
    .brefi-box-area{
      .box-item-1{
        background-color: white;
        text-align: center;
        padding: 30px 10px;
        border-radius: 3px;
        margin: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        h6{
          padding: 10px 0;
        }
        p{
          padding: 0;
          color: $text-color;
        }
      }
      .box-item-2{
        background-color: white;
        text-align: center;
        padding: 30px 10px;
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        h6{
          padding: 10px 0;
        }
        p{
          padding: 0;
          color: $text-color;
        }
      }
      @include breakpoint(xl){
        width: 90%;
        margin: 0 auto;
        .box-item-1{
          background-color: white;
          text-align: center;
          padding: 30px 10px;
          margin-top: 5px;
          border-radius: 3px;
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
          h6{
            padding: 10px 0;
          }
          p{
            padding: 0;
            color: $text-color;
          }
        }
        .box-item-2{
          background-color: white;
          text-align: center;
          padding: 30px 10px;
          margin-top: 40px;
          border-radius: 3px;
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
          h6{
            padding: 10px 0;
          }
          p{
            padding: 0;
            color: $text-color;
          }
        }
      }
     
    }
  }
// ** working-process-area end ** //

//** recent-blog area start ** //
  .recent-blog{
    .section-header{
      padding: 70px 0;
      h2{
          margin: 0;
          font-weight: bold;
      }
      p{
          color: $text-color;
      }
    }
    .recent-slider{
      padding: 0 0 50px 0;
      overflow: hidden;
      position: relative;
      .recent-container{
          .swiper-slide{
            .slider-item{
              .card-box{
                padding: 15psx;
                @include breakpoint (xl) {
                  padding: 0 15px;
                }
                .card-area{      
                  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
                  margin: 0;
                  padding: 0px;
                  border-radius: 5px;
                  a{
                    text-decoration: none;
                    .card-image{
                      overflow: hidden;
                      img{
                        width: 100%;
                        transform-origin: 65% 75%;
                        transition: transform 1s, filter .5s ease-out;
                      }
                    }        
                    .card-content{
                      padding: 20px;
                      p{
                        color: $text-color;
                      }
                      h4{
                        color: black;
                      }
                    }
                    &:hover{
                      h4{
                        transition: all 0.3s ease-in-out;
                        color: #F5454F;
                      }
                      img{
                        transform: scale(1.2);
                      }
                    }
                  }
                  
                }
              }
              
            }
          }
          .swiper-pagination{
            .swiper-pagination-bullet-active{
              background-color: #FDAA52;
              height: 10px;
              width: 10px;
            }
            .swiper-pagination-bullet{
              height: 10px;
              width: 10px;
            }
          }
      }
    }
   
    
  }
//** recent-blog area end ** //

// ** content-area start ** //
  .contant-area{
    background-color: $background-color;
    margin: 100px 0 0 0;
    padding: 0 0 100px 0; 
    .section-header{
      padding: 70px 0;
      h2{
          margin: 0;
          font-weight: bold;
      }
      p{
          color: $text-color;
      }
    }
    .flex-fild{
      @include breakpoint (md){
        display: flex;
      }
      display: block;
    }
    .from-area{
      .flex-from{
        padding: 0 20px;
        input{
          border: none;
          padding: 15px;
        }        
      }
      textarea{        
        @include breakpoint (md){
          border: none;
          padding: 15px;
          margin-left: 10px;
          margin-top: 20px;
          margin-bottom: 20px;
          border-radius: 8px;
        }        
        border: none;
        padding: 15px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      input{
        @include breakpoint (md){
          border: none;
          padding: 15px;
          margin: 10px;
          border-radius: 8px;
        }
        border: none;
        padding: 15px 0;
        margin: 10px 0;
      }
      .btn-avon{
        background-color: $theme-color;        
        font-weight: bold;
        color: white;
        margin: 0 0 10px 0;
        @include breakpoint (md){
          background-color: $theme-color;
          margin: 0 26px;
          font-weight: bold;
          color: white;
          width: 95%;
          &:hover{
            background-color: $theme-color-two;
          }
        }
      }
    }
    .location-box{
      background-color: white;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      padding: 30px 20px;
      margin-top: 50px;
      img{
        margin: 0 10px 0 0;
        height: 50px;
      }
      P{
        font-size: 18px;
        color: $text-color;
      }
    }
  }
// ** content-area end ** //

// ** footer-area start ** //
footer{
  height: 120px;
  justify-content: center;
  align-items: center;
  display: flex;
  .footer-area{
    text-align: center;
    .social-icon{
      display: flex;
      .social-fb{
        background-color: #3B5998;
        height: 40px;
        width: 40px;
        margin: 5px;
        line-height: 40px;
        border-radius: 3px;
      }.social-tw{
        background-color: #1DA1F2;
        height: 40px;
        width: 40px;
        margin: 5px;
        line-height: 40px;
        border-radius: 3px;
      }.social-in{
        background-color: #007BB5;
        height: 40px;
        width: 40px;
        margin: 5px;
        line-height: 40px;
        border-radius: 3px;
      }.social-goog{
        background-color: #DB4437;
        height: 40px;
        width: 40px;
        margin: 5px;
        line-height: 40px;
        border-radius: 3px;
      }.social-wh{
        background-color: #25D366;
        height: 40px;
        width: 40px;
        margin: 5px;
        line-height: 40px;
        border-radius: 3px;
      }
    }
    .copy-content{
      color: #888888;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}
// ** footer-area end ** //

// ** blog page area **//

// ** page-header-area start **//
.page-header-area{
  height: 250px;
  background-image: url('../../../assets/img/blog_header/01.png');
  background-size: cover;
  .banner-position{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    .section-header{
      display: block;
      .header-content{
        color: white;
      }
      .sub-text{
        color: white;
      }
    }
  }
 
}
// ** page-header-area start **//

//** section-body start **//
.section-body{
  background-color: $background-color;
  padding: 150px 0;
  .right-side-bar{
    .blog-area{
      padding: 15px 25px;
      background-color: white;
      margin-bottom: 50px;
      p{
        color: $text-color;
        a{
          color: $text-color;
          text-decoration: none;
          transition: all 0.2s ease-in-out;
          &:hover{
            color: $theme-color;
          }
        }
      }
      h2{
        font-weight: bold;
      }
      img{
        height: auto;
        width: 100%;
      }
      .blog-links{
        display: flex;
        justify-content: space-between;
        .social-links{
          display: flex;
          a{
            margin: 0 10px;
          }
        }
      }
      .blog-page-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        .swiper-slide { 
          text-align: center;
          font-size: 18px;
          background: #fff;
    
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
        .swiper-button-next{
          background-color: $theme-color;
          border-radius: 5px;
          padding: 10px 22px;
          color: white;
          &::after{
            font-size: 25px;
          }
        }
        .swiper-button-prev{
          background-color: $theme-color;
          border-radius: 5px;
          padding: 10px 22px;
          color: white;
          &::after{
            font-size: 25px;
          }
        }
        .swiper-button-disabled{
          background-color: black !important;
          opacity: 0.8;
        }
        .swiper-pagination{
          .swiper-pagination-bullet{
            background-color: transparent;
            border: 2px solid white;
            height: 10px;
            width: 10px;
            opacity: .8;
          }
          .swiper-pagination-bullet-active{
            background-color: #F5454F;
            border: none;
          }
        }
      }
     .videos{
       max-height: 500px;
       @include breakpoint (md) {
         height: 500px;
       }
     }
  
    }
    nav{
      .pagination-area{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        @include breakpoint(max-sm){
          span{
            display: none;
          }
        }
        .pagination{
          .page-previous{
            a{
              background-color: #F5454F;
              font-weight: bold;
              color: white;
              padding: 7px 35px;
              &:hover{
                background-color: #FDAA52 ;
                color: white;
              }
                @include breakpoint(max-sm){
                  padding: 7px 15px;
                }
            }
          }
          .page-number-active{
            a{
              border-radius: 50%;
              background-color: #F5454F;
              font-weight: bold;
              color: white; 
              height: 42px;
              width: 42px;
              padding: 8px 10px;
              &:hover{
                background-color: #FDAA52 ;
                color: white;
              }
            }
          }
          .page-number{
            margin: 0 5px;
            a{
              border-radius: 50%;
              background-color: transparent;
              font-weight: bold;
              color: black;
              border: 2px solid #e6e5e5;
              height: 42px;
              width: 42px;
              padding: 8px 10px;
              &:hover{
                background-color: #F54C54 ;
                color: white;
              }
             
            }
            @include breakpoint(max-sm){
              
              &:nth-child(7){
                display: none;
              }
              &:nth-child(6){
                display: none;
              }
              &:nth-child(5){
                display: none;
              }
              &:nth-child(7){
                display: none;
              }
            }
  
           
          }
          .page-next{
            a{
              background-color: transparent;
              font-weight: bold;
              color: black;
              padding: 7px 35px;
              &:hover{
                background-color: #F54C54 ;
                color: white;
              }
              @include breakpoint(max-sm){
                padding: 7px 15px;
              }
            }
          }
          
        }
      }
      
    }
  }
  .left-side-bar{
    .search-area{
      padding: 25px 25px 15px;
      background-color: white;
      margin-bottom: 20px;
      input{
        border: none;
        border-radius: 0px;
        background-color: #EFF4F8;
        padding: 10px 25px;
        &:focus{
          box-shadow: none;
        }
      }
      .btn-search{
        background-color: #EFF4F8;
        color: #7A7A7A;
        border-radius: 0px;
        &:hover{
          background-color: #FDAA52;
          color: white;
        }
      }
    }
    .post-cetagory{
      padding: 25px 25px;
      background-color: white;
      margin-bottom: 30px;
      h3{
        font-weight: bold;
      }
      .cetagory-link{
        .item-link{
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          padding: 14px 0;
          border-bottom: 1px solid #d7d7d7;
          transition: all 0.3s ease-in-out;
          &:nth-last-child(1){
            border-bottom: none;
            padding-bottom: none;
          }
          &:hover{
            color: #F5454F;
            a{
              color: #F5454F;
              transition: all 0.3s ease-in-out;
            }
          }
        a{
          text-decoration: none;
          color: #afafaf;
          width: 100%;
          em{
            padding-right: 10px;
          }
        }
        }
      }
    }
    .follow-me{
      padding: 25px 25px;
      background-color: white;
      margin-bottom: 20px;
      h3{
        font-weight: bold;
      }
      .social-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
          width: calc(100% / 5);
          list-style: none;
          margin: 20px 0;
          &:nth-child(1){
            a{
              color: #55ACEE;
            }
          }
          &:nth-child(2){
            a{
              color: #1769FF;
            }
          }
          &:nth-child(3){
            a{
              color: #E85974;
            }
          }
          &:nth-child(4){
            a{
              color: #4AC6EE;
            }
          }
          &:nth-child(5){
            a{
              color: #007BB5;
            }
          } 
          &:nth-child(6){
            a{
              color: #DE5342;
            }
          } 
          &:nth-child(7){
            a{
              color: #007BB5;
            }
          } 
          a{
            padding: 10px 15px;
            font-size: 20px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #d7d7d7;
            width: 100%;
            width: calc(100% / 5);
          }
        }

        
      }
    }
  }
}
//** section-body end **//
//**==== scroolTop ======**//
.scrollToTop {
  position: fixed;
  bottom: -30%;
  right: 5%;
  z-index: 9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #F5454F;
  color: white;
  font-size: 24px;
  animation: lab_top_up 5s linear infinite;
  transition: all 0.3s ease; 
  &:hover {
      background: linear-gradient(to right, #FDAA52, #FDAA52); 
      color: white;
      transition: all 0.3s ease-in-out;
  }
  i {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      color: #fff;
      width: 40px;
      height: 40px;
      line-height: 40px;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: black; 
  }



}
//** ==== scroolTop ====== **//
//*==== feature css start ===*//


//*==== all keyframes css ends  ====*//